<div style="width: 1000px; margin: auto;" class="container-fluid">
    <h1>Impressum</h1><p>Angaben gem&auml;&szlig; &sect; 5 TMG:<br/><br/></p>
    <p>
        Mike Feustel<br />
        Lipsiusstr. 19<br />
        04317 Leipzig<br />
    </p>
    <h2>Kontakt:</h2>
    <div>
      <p>
        E-Mail:
        <a href="mailto:bicorem@mhinkelmann.de">bicorem@mhinkelmann.de</a>
      </p>
    </div>
    <h2>Quellenangaben f&uumlr die verwendeten Bilder und Grafiken:</h2>
    <p>
        <a href="https://www.gosquared.com/" target="_blank" >https://www.gosquared.com/</a><br />
        GoSquared
    </p>
    <p></p>
    <p>Quelle: <i><a rel="nofollow" href="http://www.e-recht24.de/impressum-generator.html" target="_blank" >http://www.e-recht24.de</a></i></p>
</div>